version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: silea-mysql
    environment:
      MYSQL_ROOT_PASSWORD: SileaDB2026!Secure
      MYSQL_DATABASE: silea_db
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./Backend
    container_name: silea-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/silea_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: SileaDB2026!Secure
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    restart: always

  frontend:
    build:
      context: ./Frontend
      args:
        NEXT_PUBLIC_API_URL: http://35.180.229.121:8080
    container_name: silea-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: silea-phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: SileaDB2026!Secure
    ports:
      - "8081:80"
    depends_on:
      - mysql
    restart: always

volumes:
  mysql_data:
